@import url('../helper/core.css');

input{
    width: 94%;
    padding: 0.5rem 1rem;
}

.transformers{
    margin: auto;
    width: 94%;
    text-align: left;
}

.transformers div{
    position: relative;
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: beige;
}

.transformers label{
    position: absolute;
    top: -0.75rem;
    font-size: 0.75rem;
    background-color: black;
    color: white;
    padding: 0.25rem;
}

.transformers span{
    word-break: break-all;
}

@media ( min-width: 768px){
    input, .transformers{
        width: 75%;
    }
}
